name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-26, windows-2025]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - run: gcc -Wall -Wextra -Werror -o test/main test/main.c -lm
      - run: test/main

      - run: gcc -Wall -Wextra -Werror -Iinclude -o example/main example/main.c -lm
      - run: example/main

      - if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          sudo apt-get update
          sudo apt-get install valgrind
          valgrind --leak-check=yes test/main

      - if: ${{ startsWith(matrix.os, 'macos') }}
        run: /opt/homebrew/opt/llvm@20/bin/scan-build --status-bugs gcc -o test/main test/main.c -lm

      - if: ${{ startsWith(matrix.os, 'windows') }}
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cl /W3 test/main.c /link /out:test/main-msvc.exe
          call "test/main-msvc.exe"
        shell: cmd

      - run: cmake -S . -B build
      - run: cmake --build build
      - run: cmake --install build --prefix /tmp
      - run: gcc -I/tmp/include -o example/main example/main.c -lm
